* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: white;
}

.nav-up {
    top: -230;
}

#back-t-up {
    width: 0;
    height: 0;
    border-top: 100px solid #1B3061;
    border-left: 100px solid transparent;
}

#back-t-dw {
    width: 0;
    height: 0;
    border-top: 925px solid #1B3061;
    border-right: 2700px solid transparent;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
}

.icon-button {
    width: 120px;
    height: 120px;
    border: none;
    background-color: transparent;
    align-items: center;
}

.top-bar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: top 0.7s ease-in-out;
}

.row {
    display: flex;
}

.row-a {
    display: flex;
    justify-content: space-around;
}

.row-e {
    display: flex;
    justify-content: space-evenly;
}

.row-b {
    display: flex;
    justify-content: space-between;
}

.top-t {
    font-size: 32px;
    text-align: center;
    justify-content: space-around;
    padding-top: 37px;
    padding-right: 36px;
    font-family: 'Noto Sans', sans-serif;
}

.login {
    height: 47px;
    width: 134px;
    justify-content: space-around;
    margin-right: 70px;
    margin-top: 39px;
    border-radius: 8px;
    font-size: 22px;
    background-color: #000e2f;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

#logo {
    padding-top: 23px;
    width: 180px;
    height: 90px;
}

.ccc {
    font-size: 81px;
    color: #D9D9D9;
    font-family: 'Source Sans Pro', sans-serif;
}

.left-head {
    position: absolute;
    top: 200px;
    left: 80px;
}

.l-iner-text {
    font-size: 24px;
    color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    margin-left: 3px;
}

#explore {
    height: 100px;
    width: 370px;
    border-radius: 25px;
    text-align: center;
    color: #DAEFFF;
    background-color: #000b23;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 37px;
    font-weight: 700;
}

.aaaa {
    height: 660px;
    width: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #1B3061;
}

.side-img {
    height: 660px;
    width: 540px;
}

.page-2 {
    margin-left: 90px;
    display: flex;
}

.vivek,
.vivek2 {
    flex: 1;
}

.flex {
    flex: 1;
}

.vivek {
    display: flex;
}

.right-text {
    font-size: 42px;
    color: #855E42;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

#ll {
    height: 20px;
    width: 160px;
}

.page3 {
    display: flex;
    width: 100vw;
}

#page3-1 {
    flex: 1;
    height: 800px;
    background-color: #000e2f;
}

#page3-2 {
    flex: 1;
    height: 800px;
    background-image: url(/images/1.jpg);
    background-size: cover;
}

#page3-3 {
    flex: 1;
    height: 800px;
    background-image: url(/images/2.jpg);
    background-size: cover;
}

.n {
    display: none;
}

.page3-ops {
    position: absolute;
    bottom: 40px;
    color: white;
}


/*  /////////////////////////////////////// page-4 ////////////////////////////////////////////  */

.left-page-4-img {
    width: 540px;
    height: 480px;
    background-color: #000e2f;
    border-radius: 5px;
}

.mmm {
    font-family: 'Noto Sans', sans-serif;
    font-size: 27px;
    height: auto;
    overflow-y: hidden;
    padding-top: 40px;
}


/* ================================================================ carosoul start ===================================================*/

#page-4-back {
    width: 2200px;
    height: 980px;
    transform: skew(-60deg);
    background: #1B3061;
    position: absolute;
    left: -300px;
    z-index: 3;
}

.re {
    margin-top: 80px;
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.c-item {
    height: auto;
    width: 810px;
    border: none;
    padding: 4px;
    z-index: 5;
}

.c-box {
    height: 500px;
    width: 800px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 25px;
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
}

.c-box p {
    max-lines: 10;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 47px;
    width: 580px;
    height: auto;
    overflow-y: hidden;
    padding-top: 80px;
}


/* ================================================================ video ===================================================*/

.ree {
    margin-top: 300px;
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
    color: #1B3061;
    font-weight: 600;
}

.vid {
    border-radius: 25px;
    width: 80%;
    height: 38vw;
    object-fit: cover;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


/* ////////////////////////////////////////////////// page 7 ////////////////////////////////////// */

.revs {
    flex: 1;
}

.avatar {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: #000b23;
    position: absolute;
}

.rev-about {
    width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 130px;
}

.re-name {
    margin-top: 60px;
    font-size: 48px;
    color: #000e2f;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.re-sub {
    font-size: 20px;
    color: #000e2f;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.rev-about p {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: #000e2f;
}


/* ===================================================================page 8 =================================== */

.news {
    flex: 1;
}

.news-img {
    height: 460px;
    width: 400px;
    background-color: #000e2f;
    border-radius: 10px;
}

.n-sub {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}

.news-head {
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}

.news-sub {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}

.read-more {
    font-size: 14px;
    color: #000e2f;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}